[Unit]
    Description=Schedule a message every 1 minute
    RefuseManualStart=no
    RefuseManualStop=no

    [Timer]
    #Execute job if it missed a run due to machine being off
    Persistent=true

    #Run 120 seconds after boot for the first time
    OnBootSec=120

    #Run every 6 hours thereafter
    OnUnitActiveSec=6h

    #File describing job to execute
    Unit=systemd.service

    [Install]
    WantedBy=timers.target
